<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Восточный Центр Позитроники</title>
</head>
<body>
    @Html.ActionLink("Продукция","Robots","Products")
    @Html.ActionLink("О нас","Index","Home")
    <div>
        @RenderBody()
    </div>
</body>
</html>
