
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>О компании Восточный Центр Позитроники</h2>
<p>Восточный Центр Позитроники - организация-партнер Северного Центра Позитроники и "Сомбра-корпорэйшн".</p>
<p>Во имя Дискордии! Во имя Алого Короля!</p>

